.lead
  %h1 Song List
  %hr
.well
  %ul.list-group
    - @musics.each do |music|
      %li.list-group-item
        - if session[:user_id] && !music.votes.find_by(user: session[:user_id])
          %a{ href: "/musics/#{music.id}/vote", class: 'btn btn-sm btn-info' } vote
        = music.title
        %small by
        = music.author
        - unless music.url.empty?
          %a{ href: music.url } [link]
