!!!
%html{lang: 'en'}
  %head
    %link{ href: '/css/bootstrap.min.css', rel: 'stylesheet' }
    %link{ href: '/stylesheets/application.css', rel: 'stylesheet' }
    %script{ src: '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' }
    %script{ src: '/js/bootstrap.min.js' }
    %title
  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %a{ href: '/', class: 'navbar-brand' } Music Wall
        .collapse.navbar-collapse
          .nav.navbar-nav.navbar-right
            - if session[:user_id]
              %a{ href: '/musics/new', class: 'btn btn-success btn-sm navbar-btn' } New Song
              %a{ href: '/logout' } Log Out
            - else
              %a{ href: '/signup', class: 'btn btn-success btn-sm navbar-btn' } Sign Up
              %a{ href: '/login' } Log In
    - flash.each do |name, msg|
      - if msg.is_a?(String)
        %div{:class => "alert alert-#{name == :notice ? "success" : "danger"}"}
          %a.close{"data-dismiss" => "alert"} ×
          = msg
    = yield
